@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'roboto', sans-serif;
  max-width: 100%;
  overflow-x: hidden; }

body a {
  text-decoration: none; }

.navbar {
  border-bottom: #ba4a00 3px solid; }

#slide-display-section {
  height: 500px;
  width: 100%; }
  #slide-display-section .carousel-item {
    min-height: 500px; }
    #slide-display-section .carousel-item .number-display {
      background: #ced4da;
      color: #000;
      padding: 5px; }
  #slide-display-section .carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6); }
  #slide-display-section .blog-image-one {
    background: url("../img/slide-image-1.jpg");
    background-size: cover; }
  #slide-display-section .blog-image-two {
    background: url("../img/slide-image-5.jpg");
    background-size: cover; }
  #slide-display-section .blog-image-three {
    background: url("../img/slide-image-3.jpg");
    background-size: cover; }
  #slide-display-section .blog-image-four {
    background: url("../img/slide-image-4.jpg");
    background-size: cover; }
  #slide-display-section .carousel-display {
    margin-right: 0px;
    padding-right: 0px; }
  #slide-display-section .trending-news {
    padding: 6px;
    margin: 0px; }
    #slide-display-section .trending-news a {
      text-decoration: none; }
    #slide-display-section .trending-news p {
      border-bottom: #ced4da 2px solid;
      padding: 4px; }

#triangle-section .arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff; }
