$color-one: "#B44D09";
$color-two: "#ba4a00";
$color-three: "#dc7633";
$color-four: "#f1f1f1";
$color-five: "#deb887";
$color-six: "#e2e0e0";
$color-seven: "#f5f5f5";
$color-eight: "#ced4da";
$color-nine: "#DCDCDC";
$color-ten: "#fff";
